
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  color:#ffff00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.container-fluid{
  background-color: #fff;
}

.navbar-sidebar{
  background-color: #fff;
}

body{
  background-color:#fff;
}